//primer esquema de color
$white: #fff;
$isabelline: #ececec;
$light-gray: #d1d1d1;
//segundo esquema de colores
$smoky-black: #0c0910;
$granite-gray: #646266;
$quick-silver: #a6a5a8;
//tipografia
$old-standard-tt: 'Old Standard TT',
serif;
$raleway: 'Raleway',
sans-serif;
//peso fuentes
$regular: 400;
$bold: 700;
//tamaño fuentes
$xxx-large: 50;
$xx-large: 30;
$x-large: 20;
$large: 18;
$medium: 16;
$small: 14;
$x-small: 12;