/* Hero Section
 ========================================================================== */

.hero-section.container {
    padding: 0;
}

.hero-section__featured-image {
    background-image: url('../../assets/img/photo-1532987448975-0ec5bf303691.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include relative-converter(height,
    em,
    200,
    16);
    width: 100vw;
    margin-top: 3rem;
}

.hero-section__main-content {
    padding: 1.3em 1.3em 1.3em 1.5em;
    h1 {
        margin: 0;
        @include relative-converter(font-size,
        rem,
        $xx-large,
        16);
    }
    p {
        line-height: 1.5;
    }
}

@media (min-width:350px) and (max-width: 575px) {
    .hero-section__imagen-desktop {
        display: none;
    }
    .hero-section__main-content {
        margin-left: 2em;
        width: 86%;
        h1 {
            margin: 0;
            @include relative-converter(font-size,
            rem,
            $xx-large,
            16);
            width: 86%
        }
        p {
            @include relative-converter(font-size,
            rem,
            $small,
            16);
            color: $granite-gray;
            line-height: 1.5;
            width: 86%;
        }
    }
}

@media (min-width:576px) and (max-width: 768px) {
    .hero-section__featured-image {
        @include relative-converter(height,
        em,
        300,
        16);
        width: 100vw;
        margin-top: 3rem;
    }
    .hero-section__imagen-desktop {
        display: none;
    }
    .hero-section__main-content {
        margin-left: 2em;
        width: 75%;
        h1 {
            margin: 0;
            @include relative-converter(font-size,
            rem,
            $xx-large,
            16);
            width: 80%
        }
        p {
            @include relative-converter(font-size,
            rem,
            $x-small,
            16);
            color: $granite-gray;
            line-height: 1.5;
            width: 80%;
        }
    }
}

@media (min-width:769px) and (max-width: 992px) {
    .hero-section__featured-image {
        @include relative-converter(height,
        em,
        350,
        16);
        width: 100vw;
        margin-top: 3rem;
    }
    .hero-section__imagen-desktop {
        display: none;
    }
    .hero-section__main-content {
        margin-left: 2em;
        width: 75%;
        h1 {
            margin: 0;
            @include relative-converter(font-size,
            rem,
            $xxx-large,
            16);
            width: 70%;
        }
        p {
            line-height: 1.5;
            color: $granite-gray;
            @include relative-converter(font-size,
            rem,
            $small,
            16);
            width: 70%;
        }
    }
}

@media (min-width:993px) {
    .hero-section__featured-image {
        @include relative-converter(height,
        em,
        800,
        16);
        width: 100%;
        margin-top: 3rem;
        display: grid;
        grid-column: 6 / 13;
        grid-row: 1 / 2;
        // display: none;
    }
    .hero-section__main-content {
        margin-top: 7rem;
        margin-left: 3rem;
        width: 95%;
        h1 {
            margin: 0;
            @include relative-converter(font-size,
            rem,
            $xxx-large,
            16);
            width: 100%;
        }
        p {
            @include relative-converter(font-size,
            rem,
            $medium,
            16);
            color: $granite-gray;
            line-height: 1.5;
            width: 100%;
        }
    }
    .item2 {
        grid-column: 1 / 5;
        grid-row: 1 / 2;
    }
}